github_token.py
data_processed/**
dataset/**
motion/**
waymo_motion/**
__pycache__/**
motion/trials/**
motion/dataSample/**
motion/result/**
test_today.ipynb
result/**
submission/**
dataSample/**
trials/**
weights/**
